# Download stock price data from Yahoo! Finance and load to MySQL

## Load Libraries

In [1]:
import os
from datetime import datetime

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import mysql.connector
from yahoofinancials import YahooFinancials

## Metadata

In [2]:
# mysql credentials
hostname = "localhost"
username = "pystonks_dev"
pw = 'pychonkee'

# db metadata
db_name = 'pystonks_dwh'

## Helper Functions

In [14]:
def execute_query(cursor, query_string, print_out=True):
    
    print('Executing the following query as {} on {}:\n'.format(username, hostname))
    print('mysql>', query_string)
    
    if query_string.count(';') > 1:
        multi = True
    else:
        multi = False
    
    cursor.execute(query_string, multi=multi)
    
    if print_out:
        print('\nOutput:\n')
        for line in cursor:
            print(line)
    return


def read_query(filepath):
    with open(filepath, 'r') as handle:
        query_string = handle.read()
    return query_string


def execute_script(cursor, filepath, print_out=True):
    query_string = read_query(filepath)
    execute_query(cursor, query_string, print_out=print_out)
    return

## Create pystonks db

In [4]:
# connect to mysql
mydb = mysql.connector.connect(
  host=hostname,
  user=username,
  password=pw
)
mycursor = mydb.cursor()

# execute query to create a database
query_string = "CREATE DATABASE {};".format(db_name)
execute_query(mycursor, query_string)

Executing the following query as pystonks_dev on localhost:

mysql> CREATE DATABASE pystonks_dwh;

Output:

## Create tables

### Connect to db

In [5]:
# connect to database
mydb = mysql.connector.connect(
  host=hostname,
  user=username,
  password=pw,
  database=db_name
)
mycursor = mydb.cursor()

# execute query to create a table
table_name = 'watch'
query_string = "CREATE TABLE {} (name VARCHAR(255), address VARCHAR(255))".format(table_name)
execute_query(mycursor, query_string)

Executing the following query as pystonks_dev on localhost:

mysql> CREATE TABLE watch (name VARCHAR(255), address VARCHAR(255))

Output:

### Execute sql scripts to create tables

In [15]:
execute_script(mycursor, 'sql/create_table/create_watch.sql')

Executing the following query as pystonks_dev on localhost:

mysql>

drop table if exists watch;
create table watch(
    symbol char(6) primary key,
    nickname char(20),
    watchIndustry char(20)
);


Output: