In [28]:
import os

import numpy as np
import pandas as pd

In [63]:
df = {
    'Segment': ['Government', 'Government', 'Midmarket', 'Midmarket', 'Government', 'Channel Partners'],
    'Country': ['Canada', 'Germany', 'France', 'Canada', 'France', 'France']
}

df = pd.DataFrame(df)
df

            Segment  Country
0        Government   Canada
1        Government  Germany
2         Midmarket   France
3         Midmarket   Canada
4        Government   France
5  Channel Partners   France

In [71]:
    def match_column(df, column_name):
        column_mask = df.astype(str).applymap(lambda x: any(y in x for y in ['Chann','Midm']))[column_name]
        df['Match'] = 'No Match'
        df.loc[column_mask, 'Match'] = column_name + ' || ' + df[column_name]
        return df

    df = {
        'Segment': ['Government', 'Government', 'Midmarket', 'Midmarket', 'Government', 'Channel Partners'],
        'Country': ['Canada', 'Germany', 'France', 'Canada', 'France', 'France']
    }
    df = pd.DataFrame(df)
    display(df)

    df = match_column(df, 'Segment')
    display(df)

            Segment  Country
0        Government   Canada
1        Government  Germany
2         Midmarket   France
3         Midmarket   Canada
4        Government   France
5  Channel Partners   France

            Segment  Country                        Match
0        Government   Canada                     No Match
1        Government  Germany                     No Match
2         Midmarket   France         Segment || Midmarket
3         Midmarket   Canada         Segment || Midmarket
4        Government   France                     No Match
5  Channel Partners   France  Segment || Channel Partners

In [38]:
mask = df.astype(str).applymap(lambda x: any(y in x for y in ['Chann','Midm'])).any(1)

df['Match'] = 'No Match'
df.loc[mask, 'Match'] =

0    False
1    False
2     True
3     True
4     True
dtype: bool

In [ ]:
mask = df.astype(str).applymap(lambda x: any(y in x for y in ['Chann','Midm'])).any(1)
df['extract'] = df.loc[mask]
df['extract2'] = Column name
df['Match'] = df[['extract', 'extract2']].agg('||'.join.axis=1)
df.drop(['extract', 'extract2'], axis=1)

In [ ]:
final = table1[((table2.loc[table1['cap'], 0.05] < table1.loc['cap','dest product mop'].values) & (table1['dest product mop'].values < table2.loc[table1['cap'], 0.95])).values]

In [2]:
import pandas as pd

In [11]:
df.columns[:2] + df.columns[-2:]

Index(['ad', 'be'], dtype='object')

In [10]:
df.columns[:2]

Index(['a', 'b'], dtype='object')

In [14]:
    df = {
        'a': [1, 2, 3],
        'b': [4, 5, 6],
        'c': [7, 8, 9],
        'd': [10, 11, 12],
        'e': [13, 14, 15]
    }
    df = pd.DataFrame(df)

    columns = list(df.columns)
    df[columns[:2] + columns[-2:]]

   a  b   d   e
0  1  4  10  13
1  2  5  11  14
2  3  6  12  15

In [7]:
ls = [1, 2, 3, 4, 5, 7, 8]
ls[:2] + ls[-2:]

[1, 2, 7, 8]